@use 'vuetify' with (
  $color-pack: false,
  $typography: (
    // add custom typograhy here
    // available values: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'subtitle-1', 'subtitle-2', 'body-1', 'body-2', 'button', 'caption', 'overline'
    // example:
    // 'h1': (
    //   'size': 60px,
    //   'weight': 500,
    //   'line-height': 74px,
    //   'letter-spacing': 1px,
    //   'font-family': 'Roboto',
    //   'text-transform': none,
    // ),
  )
);

// global custom css
.text-white {
  color: #fff;
}
.bg-white {
  color: #fff;
}

.v-theme--dark .gradient-text {
  background-image: linear-gradient(90deg, #186f71, #379992, #41aea4, #8df0e7, #41aea4, #379992, #186f71);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.v-theme--light .gradient-text {
  background-image: linear-gradient(90deg, #41aea4, #379992, #186f71, #379992, #41aea4);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}